@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');


:root {
  --mainPink: #ef7998;
  --mainYellow: rgb(249, 228, 148);
  --mainWhite: #fff;
  --mainBlack: #000;
  --yellowTrans: rgba(249, 228, 148, 0.5);
  --mainGrey: rgb(238, 238, 238);
}


body {
    font-family: 'Roboto', sans-serif;
    background: var(--mainWhite);
    color: var(--mainBlack);
}

/* nav links */
.nav-link {
    color: var(--mainPink);
}
.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}

/* cart styles */
cart-info__icon {
    color: var(--mainBlack);
    cursor: pointer;
}

.cart-info {
    border: 0.1rem solid var(--mainBlack);
    color: var(--mainBlack);
    border-radius: 0.25rem;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
}

.cart-info:hover {
    background: var(--mainPink);
    border-color: var(--mainPink);
    color: var(--mainWhite);
}

.cart-info:hover .cart-info__icon {
    color: var(--mainWhite);
}

.max-height {
    /*min-height: calc(100vh - 76px);*/
    min-height: 100vh;
    background: linear-gradient(var(--yellowTrans), var(--yellowTrans)), no-repeat fixed center/cover url("../img/headerBcg.jpeg");
    position: relative;
}

.banner {
    color: var(--mainWhite);
    margin-top: -4rem;
}

.banner-title {
    color: var(--mainPink);
    font-size: 4rem;
}

.banner-link {
    font-size: 1.5rem;
    color: var(--mainBlack);
    border: 0.2rem solid var(--mainBlack);
}

.banner-link:hover {
    background: var(--mainBlack);
    color: var(--mainPink);
}
