@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

/*
border-box  указывает браузеру учитывать любые границы
            и отступы в значениях, которые вы указываете
            для ширины и высоты элемента.

Применяется ко всем четырём сторонам
    margin: 1em;
    margin: -3px;

по вертикали | по горизонтали
    margin: 5% auto;

сверху | горизонтально | снизу
    margin: 1em auto 2em;

сверху | справа | снизу | слева
    margin: 2px 1em 0 auto;

*/

/* we can't apply with and height for inline elements */
/* we have to change it to display: block; */

/** {*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

body {
    padding: 5%;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.block {
    width: 30vw;
    height: 30vw;
    background: black;
    color: #20c997;
    padding: 2%;

}

.left {
    float: left;
    margin: 0 2% 1% 0;
}

.right {
    float: right;
    margin: 0 1% 1% 1.2%;
}

.clear {
    clear: both;
}

section {
    background: bisque;
    border: 1px solid #333;
    padding: 1rem;
    /*overflow: auto; !* legacy method *!*/
    display: flow-root; /* moder way to fix problem */
}

