.height {
    min-height: 100vh;
}

.height-80 {
 min-height: 80vh;
}

.about-picture {
    background: no-repeat fixed center/cover url("../img/about.jpg");
}

.title-underline {
    width: 10rem;
    height: 8px;
    margin: 0 auto;
    /*background: blue!important;*/
}

img-style {
    height: 436px;
    width: 348px;
}